<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <div th:fragment="header-css">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </div>
</head>
<body>

    <div th:fragment="header">
        <div class="container">
            <div th:fragment="header">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                            <ul class="nav navbar-nav">
                                <li><a th:href="@{/item/list}">Item</a></li>
                                <li><a th:href="@{/period/list}">Period</a></li>
                                <li><a th:href="@{/cashflow}">Cash Flow</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</body>
</html>