<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <div th:fragment="header-css">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet" media="screen" />

        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
                src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css" />
    </div>
</head>
<body>

    <div th:fragment="header">
        <div class="container">
            <div th:fragment="header">

                <!-- Fixed navbar -->
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" th:href="@{/}"><span class="glyphicon glyphicon-transfer"></span> Cash Flow</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">

                                <!-- MENU CLIENT -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span th:text="#{module.client.title}"></span><span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a th:href="@{/client/add}">
                                                <span th:text="#{module.general.add.title}"></span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/client/dashboard}">
                                                <span th:text="#{module.client.dashboard.title}"></span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/client/search}">
                                                <span th:text="#{module.general.search.title}"></span></a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">
                                            <span th:text="#{module.operations.title}"></span>
                                        </li>
                                        <li><a th:href="@{/construction}">
                                            <span th:text="#{module.client.booking.title}"></span>
                                        </a></li>
                                    </ul>
                                </li>

                                <!-- MENU PRODUCT -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span th:text="#{module.name.product.title}"></span><span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a th:href="@{/construction}"><span th:text="#{module.general.add.title}"></span></a></li>
                                        <li><a th:href="@{/construction}"><span th:text="#{module.general.search.title}"></span></a></li>
                                    </ul>
                                </li>

                                <!-- MENU OPERATION -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span th:text="#{module.operations.title}"></span><span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a th:href="@{/construction}"><span th:text="#{module.general.add.title}"></span></a></li>
                                        <li><a th:href="@{/construction}"><span th:text="#{module.general.search.title}"></span></a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"><span th:text="#{module.operations.period.title}"></span></li>
                                        <li><a th:href="@{/construction}">Start Period</a></li>
                                        <li><a th:href="@{/construction}">Close Period</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"><span th:text="#{module.operations.legacy}"></span></li>
                                        <li><a th:href="@{/item/list}">Item List</a></li>
                                        <li><a th:href="@{/period/list}">Period List</a></li>
                                    </ul>
                                </li>

                                <!-- MENU SYSTEM -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span th:text="#{module.name.system.title}"></span><span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a th:href="@{/construction}"><span th:text="#{module.system.settings.title}"></span></a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a th:href="@{/system/test}"><span th:text="#{module.system.test.title}"></span></a></li>
                                    </ul>
                                </li>

                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a th:href="@{/}"><span class="glyphicon glyphicon-home"></span></a></li>
                                <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>
                                    <span th:text="#{module.general.signOut}"></span></a>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>


            </div>
        </div>
    </div>

</body>
</html>