<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>

    <div th:replace="layout/header :: header-css"></div>
    <script th:src="@{/js/jquery.mask.min.js}" src="/js/jquery.mask.min.js"></script>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">

        <legend>
            <i class="fas fa-archive icon"></i>
            <span th:text="#{module.product.component.title}"></span> - <span th:text="#{module.general.add.title}"></span>
        </legend>

        <form class="form-horizontal" th:object="${component}" th:action="@{/product/component/add}" method="post">

            <input type="hidden" class="form-control" th:field="*{id}"/>
            <input type="hidden" class="form-control" th:field="*{product}"/>

            <div th:if="${flashMessage}">
                <div class="text-center" th:classappend="${cssClass}">
                    <span th:text="${flashMessage}"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.general.type.label}"></span></label>
                        <select class="form-control" th:field="*{component}" required="required">
                            <option value=""><span th:text="#{module.general.selectValue.label}"></span></option>
                            <option th:each="product : ${products}"
                                    th:value="${product}"
                                    th:text="${product.name}"
                            >
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.general.quantity.label}"></span></label>
                        <input type="number" class="form-control" th:field="*{quantity}" required="required" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.general.discount.label}"></span></label>
                        <input type="number" class="form-control" th:field="*{discount}" required="required" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.product.price.label}"></span></label>
                        <input type="text" class="form-control money" th:field="*{price}" required="required"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary"><span th:text="#{module.general.save.button}"></span></button>
                        <a th:href="${'/product/add/' + product.id}" class="btn btn-default"><span th:text="#{module.general.cancel.button}"></span></a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:replace="layout/footer :: footer-scripts"></div>

</body>
</html>