<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>

    <div th:replace="layout/header :: header-css"></div>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">

        <legend>
            <i class="fas fa-archive icon"></i>
            <span th:text="#{module.product.component.title}"></span> - <span th:text="#{module.general.add.title}"></span>
        </legend>

        <form class="form-horizontal" th:object="${component}" th:action="@{/product/component/add}" method="post">

            <input type="hidden" class="form-control" th:field="*{id}"/>
            <input type="hidden" class="form-control" th:field="*{product}"/>

            <div th:if="${flashMessage}">
                <div class="text-center" th:classappend="${cssClass}">
                    <span th:text="${flashMessage}"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.general.type.label}"></span></label>
                        <input type="hidden" id="originalPrice" />
                        <select id="dropdownProduct" class="form-control" th:field="*{component.id}" required="required">
                            <option value=""><span th:text="#{module.general.selectValue.label}"></span></option>
                            <option th:each="product : ${products}"
                                    th:value="${product.id}"
                                    th:text="${product.name} + ' - ' + #{${product.productType.phrase}}"
                                    th:attr="data-item=${product.price}"
                            >
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.general.quantity.label}"></span></label>
                        <input id="quantity" type="number" class="form-control" th:field="*{quantity}" required="required" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.general.discount.label}"></span></label>
                        <input id="discount" type="number" class="form-control" th:field="*{discount}" required="required" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.product.price.label}"></span></label>
                        <input type="text" class="form-control" th:field="*{price}" readonly="readonly" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary"><span th:text="#{module.general.save.button}"></span></button>
                        <a th:href="${'/product/add/' + product.id}" class="btn btn-default"><span th:text="#{module.general.cancel.button}"></span></a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:replace="layout/footer :: footer-scripts"></div>

    <script>
        $("#dropdownProduct").on('change', function() {
            var originalPrice = $("#dropdownProduct option[value='" + this.value + "']").attr("data-item");
            $("#originalPrice").val(originalPrice);
            $("#quantity").val(1);
            $("#discount").val(0);
            $("#price").val(round(originalPrice, 2));
        });

        $("#quantity").on('blur', function() {
            if ($("#originalPrice").val() !== undefined) {
                calculatePrice();
            }
        });

        $("#discount").on('blur', function() {
            if ($("#originalPrice").val() !== undefined) {
                calculatePrice();
            }
        });

        function calculatePrice() {
            var originalPrice = parseFloat($("#originalPrice").val());
            var quantity = parseFloat($("#quantity").val());
            var discount = parseFloat($("#discount").val());

            var totalPrice = parseFloat((quantity * (1 - (discount / 100)) * originalPrice));
            totalPrice = parseFloat(round(totalPrice, 2));
            $("#price").val(totalPrice);
            console.log("Price: " + totalPrice);
        }
    </script>

</body>
</html>