<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>
    <div th:replace="layout/header :: header-css"></div>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">

        <legend>
            <span th:text="#{module.client.title}"></span> - <span th:text="#{module.client.dashboard.title}"></span>
        </legend>

        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span th:text="#{module.client.dashboard.currentMonth.label}"></span>
                </div>
                <div class="panel-body">
                    <div th:each="client: ${currentMonth}">
                        <i class="shortDateFormat" th:text="${client.birthday}"></i>: <span th:text="${client.name}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:text="#{module.client.dashboard.nextMonth.label}"></span>
                </div>
                <div class="panel-body">
                    <div th:each="client: ${nextMonth}">
                        <i class="shortDateFormat" th:text="${client.birthday}"></i>: <span th:text="${client.name}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span th:text="#{module.client.dashboard.previousMonth.label}"></span>
                </div>
                <div class="panel-body">
                    <div th:each="client: ${previousMonth}">
                        <i class="shortDateFormat" th:text="${client.birthday}"></i>: <span th:text="${client.name}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="layout/footer :: footer-scripts"></div>

</body>
</html>