<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>
    <div th:replace="layout/header :: header-css"></div>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">

        <legend>
            <i class="fas fa-birthday-cake icon"></i>
            <span th:text="#{module.client.title}"></span> - <span th:text="#{module.client.dashboard.title}"></span>
        </legend>

        <div class="col-md-4">
            <div class="col-md-12">
                <div class="panel-bday-title green">
                    <h5 class="text-uppercase" th:text="#{module.client.dashboard.currentMonth.label}"></h5>
                </div>
                <div class="panel-bday-results">
                    <table>
                        <tr th:each="client: ${currentMonth}">
                            <td><p><i class="shortDateFormat" th:text="${client.birthday}"></i></p></td>
                            <td><p>&nbsp;:&nbsp;</p></td>
                            <td><p><span th:text="${client.name}"></span></p> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-12">
                <div class="panel-bday-title blue">
                    <h5 class="text-uppercase" th:text="#{module.client.dashboard.nextMonth.label}"></h5>
                </div>
                <div class="panel-bday-results">
                    <table>
                        <tr th:each="client: ${nextMonth}">
                            <td><p><i class="shortDateFormat" th:text="${client.birthday}"></i></p></td>
                            <td><p>&nbsp;:&nbsp;</p></td>
                            <td><p><span th:text="${client.name}"></span></p> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-12">
                <div class="panel-bday-title red">
                    <h5 class="text-uppercase" th:text="#{module.client.dashboard.previousMonth.label}"></h5>
                </div>
                <div class="panel-bday-results">
                    <table>
                        <tr th:each="client: ${previousMonth}">
                            <td><p><i class="shortDateFormat" th:text="${client.birthday}"></i></p></td>
                            <td><p>&nbsp;:&nbsp;</p></td>
                            <td><p><span th:text="${client.name}"></span></p> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="layout/footer :: footer-scripts"></div>

</body>
</html>