<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>
    <div th:replace="layout/header :: header-css"></div>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">
        <legend>Add Client</legend>
        <form class="form-horizontal" th:object="${client}" th:action="@{/client/add}" method="post">
            <div class="form-group">
                <div class="col-md-6 col-sm-10">
                    <input type="hidden" class="form-control" th:field="*{id}"/>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Model Details</div>
                <div class="panel-body">
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">Name:</label>
                            <input type="text" class="form-control" th:field="*{client.name}" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">Birthday:</label>
                            <input type="date" class="form-control" th:field="*{client.birthday}" />
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">E-mail:</label>
                            <input type="email" class="form-control" th:field="*{client.email}" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">Phone:</label>
                            <input type="text" class="form-control" th:field="*{client.phone}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Mother Details</div>
                <div class="panel-body">
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">Name:</label>
                            <input type="text" class="form-control" th:field="*{mother.name}" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">Birthday:</label>
                            <input type="text" class="form-control" th:field="*{mother.birthday}" />
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">E-mail:</label>
                            <input type="email" class="form-control" th:field="*{mother.email}" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">Phone:</label>
                            <input type="text" class="form-control" th:field="*{mother.phone}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Father Details</div>
                <div class="panel-body">
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">Name:</label>
                            <input type="text" class="form-control" th:field="*{father.name}" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">Birthday:</label>
                            <input type="text" class="form-control" th:field="*{father.birthday}" />
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">E-mail:</label>
                            <input type="email" class="form-control" th:field="*{father.email}" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <label class="control-label">Phone:</label>
                            <input type="text" class="form-control" th:field="*{father.phone}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a th:href="${'/'}" class="btn btn-default">Cancel</a>
                </div>
            </div>

        </form>
    </div>

    <script type="text/javascript"
            src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>