<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>

    <div th:replace="layout/header :: header-css"></div>
    <link id="bsdp-css" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
</head>
<body>

<div th:replace="layout/header :: header"></div>

<div class="container">

    <legend>
        <i class="far fa-address-book icon"></i>
        <span th:text="#{module.client.title}"></span> - <span th:text="#{module.general.add.title}"></span>
    </legend>

    <form class="form-horizontal" th:object="${client}" th:action="@{/client/add}" method="post">

        <input type="hidden" class="form-control" th:field="*{id}"/>

        <div th:if="${flashMessage}">
            <div class="text-center" th:classappend="${cssClass}">
                <span th:text="${flashMessage}"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="col-md-12">
                <label class="control-label"><span th:text="#{module.general.name.label}"></span></label>
                <input type="text" class="form-control" th:field="*{client.name}" required="required"/>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="col-md-12">
                <label class="control-label"><span th:text="#{module.client.birthday.label}" required="required"></span></label>
                <div id="datepicker1" class="input-group date">
                    <input type="text" class="form-control"  th:field="*{{client.birthday}}"/>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datepicker1').datepicker({
                            todayHighlight: true,
                            format: 'dd/mm/yyyy',
                            clearBtn: true
                        });
                    });
                </script>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="col-md-12">
                <label class="control-label"><span th:text="#{module.client.email.label}"></span></label>
                <input type="email" class="form-control" th:field="*{client.email}" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="col-md-12">
                <label class="control-label"><span th:text="#{module.client.phone.label}"></span></label>
                <input type="text" class="form-control" th:field="*{client.phone}" />
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="col-md-12">
                <label class="control-label"><span th:text="#{module.client.sex.label}"></span></label>
                <select class="form-control" th:field="*{client.sex}" required="required">
                    <option value=""><span th:text="#{module.general.selectValue.label}"></span></option>
                    <option th:each="sex : ${T(org.evertones.model.types.Sex).values()}"
                            th:value="${sex}"
                            th:text="#{${sex.phrase}}"
                    >
                    </option>
                </select>
            </div>
        </div>


        <div class="form-group col-md-12">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary"><span th:text="#{module.general.save.button}"></span></button>
                <a th:href="${'/'}" class="btn btn-default"><span th:text="#{module.general.cancel.button}"></span></a>
            </div>
            <div th:if="(*{id} != null)" class="col-md-6 text-right">
                <a th:href="${'/client/model/add/' + id}" class="btn btn-default"><span th:text="#{module.client.addModel.button}"></span></a>
            </div>
        </div>

    </form>
</div>

<div class="container">
    <div th:if="${#lists.isEmpty(clientModels)}">
        <div class="text-center alert alert-warning">
            <span th:text="#{module.client.model.noModelForClient.message}"></span>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(clientModels)}">
        <table class="table table-striped">
            <tr>
                <th><span th:text="#{module.general.name.label}"></span></th>
                <th><span th:text="#{module.client.birthday.label}"></span></th>
                <th><span th:text="#{module.client.sex.label}"></span></th>
                <th><span th:text="#{module.general.edit.label}"></span></th>
                <th><span th:text="#{module.general.delete.label}"></span></th>
            </tr>
            <tr th:each="clientModel : ${clientModels}" th:attr="data-item-id=${clientModel.id}">
                <td th:text="${clientModel.name}"></td>
                <td>
                    <span th:if="${clientModel.birthday != null}" th:text="${{clientModel.birthday}}"></span>
                </td>
                <td>
                    <span th:if="${clientModel.sex != null}" th:text="#{${clientModel.sex.phrase}}"></span>
                </td>

                <td>
                    <a th:href="${'/client/model/edit/' + clientModel.id}" class="btn btn-default">
                        <span th:text="#{module.general.edit.label}"></span>
                    </a>
                </td>
                <td>
                    <a th:href="${'/client/model/delete/' + clientModel.id}" class="btn btn-default">
                        <span th:text="#{module.general.delete.label}"></span>
                    </a>
                </td>

            </tr>
        </table>
    </div>
</div>

<div th:replace="layout/footer :: footer-scripts"></div>

</body>
</html>