<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>

    <div th:replace="layout/header :: header-css"></div>
    <link id="bsdp-css" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/client/script.js}" src="/js/client/script.js"></script>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">

        <legend>
            <i class="fas fa-search icon"></i>
            <span th:text="#{module.client.title}"></span> - <span th:text="#{module.general.search.title}"></span>
        </legend>

        <form class="form-horizontal" th:action="@{/client/search}" method="post">

            <div th:if="${flashMessage}">
                <div class="text-center" th:classappend="${flashMessage.cssClass}">
                    <span th:text="${flashMessage.message}"></span>
                </div>
            </div>


            <div class="form-group">
                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.general.name.label}"></span></label>
                        <input type="text" class="form-control" th:field="${client.name}" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.client.birthday.label}"></span></label>
                        <div id="datepicker1" class="input-group date">
                            <input type="text" class="form-control"  th:field="${{client.birthday}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datepicker1').datepicker({
                                    todayHighlight: true,
                                    format: 'dd/mm/yyyy',
                                    clearBtn: true
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.client.sex.label}"></span></label>
                        <select class="form-control" th:field="${client.sex}">
                            <option value=""><span th:text="#{module.general.selectValue.label}"></span></option>
                            <option th:each="sex : ${T(org.evertones.model.types.Sex).values()}"
                                    th:value="${sex}"
                                    th:text="#{${sex.phrase}}"
                            >
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        <label class="control-label"><span th:text="#{module.general.type.label}"></span></label>
                        <select class="form-control" th:value="${clientType}" name="clientType">
                            <option value=""><span th:text="#{module.general.selectValue.label}"></span></option>
                            <option th:each="ct : ${T(org.evertones.model.types.ClientType).values()}"
                                    th:value="${ct}"
                                    th:text="#{${ct.phrase}}"
                            >
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary"><span th:text="#{module.general.search.button}"></span></button>
                    <a th:href="${'/'}" class="btn btn-default"><span th:text="#{module.general.cancel.button}"></span></a>
                </div>
            </div>

        </form>
    </div>


    <div class="container">

        <div th:if="${#lists.isEmpty(clients)}">
            <div class="text-center alert alert-warning">
                <span th:text="#{module.general.noItemsInSearch.message}"></span>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(clients)}">
            <table class="table table-hover">
                <thead>
                    <tr class="grid-title">
                        <th scope="col"><span th:text="#{module.general.name.label}"></span></th>
                        <th scope="col"><span th:text="#{module.client.birthday.label}"></span></th>
                        <th scope="col"><span th:text="#{module.client.sex.label}"></span></th>
                        <th scope="col"><span th:text="#{module.general.edit.label}"></span></th>
                        <th scope="col"><span th:text="#{module.general.delete.label}"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="client : ${clients}" th:attr="data-item-id=${client.id}">
                        <td th:text="${client.name}"></td>
                        <td>
                            <span th:if="${client.birthday != null}" th:text="${{client.birthday}}"></span>
                        </td>
                        <td>
                            <span th:if="${client.sex != null}" th:text="#{${client.sex.phrase}}"></span>
                        </td>
                        <td>
                            <a class="btn btn-default" th:if="${client.client == null}"
                               th:href="${'/client/editByDetail/' + client.id}">
                                <span th:text="#{module.general.edit.label}"></span>
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-default delete-client"
                                    th:if="${client.client == null}"
                                    th:attr="client-detail-id=${client.id}"
                                     data-target="#deleteClient">
                                <span th:text="#{module.general.delete.label}"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="layout/footer :: footer-scripts"></div>

    <!-- Modal to confirm Client deletion -->
    <div class="modal fade" id="deleteClient" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="far fa-trash-alt icon"></i>
                        <span th:text="#{module.general.delete.confirm}"></span>
                    </h4>
                </div>
                <div class="modal-footer">
                    <input  type="hidden" id="modal-value" value=""/>
                    <button type="button" class="btn btn-default confirm-yes"><span th:text="#{module.general.yes.label}"></span></button>
                    <button type="button" class="btn btn-default confirm-no" data-dismiss="modal"><span th:text="#{module.general.no.label}"></span></button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>