<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>

    <div th:replace="layout/header :: header-css"></div>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">

        <legend>System - Test</legend>

        <div class="container">
            <h2>This is a page used for tests</h2>
            <br />

            <h3>Messages from the resource bundle found in the back-end</h3>
            <p>Message in 'en': <span th:text="${message_en}"></span></p>
            <p>Message in 'pt': <span th:text="${message_pt}"></span></p>

            <h3>Messages from the resource bundle found in the front-end</h3>
            <p>Message (language define in the page header): <span th:text="#{test}"></span></p>

        </div>

    </div>

    <th:block th:include="layout/footer :: footer"></th:block>

    <div th:replace="layout/footer :: footer-scripts"></div>

</body>
</html>