<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>

    <div th:replace="layout/header :: header-css"></div>
    <link id="bsdp-css" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">

        <legend>Add Booking</legend>

        <form class="form-horizontal" th:object="${booking}" th:action="@{/booking/add}" method="post">

            <div class="form-group">
                <div class="col-md-6 col-sm-10">
                    <input type="hidden" class="form-control" th:field="*{id}"/>
                </div>
            </div>

            <div th:if="${flashMessage}">
                <div th:class="${cssClass}">
                    <span th:text="${flashMessage}"></span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label">Client:</label>
                <input type="text" class="form-control" th:field="*{client}" required="true"/>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Date/Time:</label>
                <div id="datepicker1" class="input-group date">
                    <input type="text" class="form-control"  th:field="*{{dateTime}}"/>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datepicker1').datepicker({
                            todayHighlight: true,
                            format: 'dd/mm/yyyy',
                            clearBtn: true
                        });
                    });
                </script>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Product:</label>
                <input type="email" class="form-control" th:field="*{product}" />
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Price:</label>
                <input type="text" class="form-control" th:field="*{price}" />
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Duration:</label>
                <input type="text" class="form-control" th:field="*{duration}" />
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a th:href="${'/'}" class="btn btn-default">Cancel</a>
                </div>
            </div>

        </form>
    </div>

    <script type="text/javascript"
            src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>