<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>
    <div th:replace="layout/header :: header-css"></div>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">
        <div class="jumbotron home-jumbotron">
            <div class="row text-center">
                <img class="home-image" src="../../static/images/company_logo_big.png"
                     th:src="@{/images/company_logo_big.png}" />
            </div>
        </div>
    </div>

    <div th:replace="layout/footer :: footer-scripts"></div>

</body>
</html>