<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CashFlow - Pet Project</title>
    <div th:replace="layout/header :: header-css"></div>
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="container">
        <div class="jumbotron">
            <div class="row text-center">
                <div class="row">
                    <h2>Cash Flow - Pet Project</h2>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/cashflow.svg" width="30%"
                     th:src="@{/images/cashflow.svg}" />
            </div>
        </div>
    </div>

    <div th:replace="layout/footer :: footer-scripts"></div>

</body>
</html>